doctype html
html
    head
        title= 'Poet Samples'
        meta(charset='utf-8')
        link(rel='stylesheet', href='/css/bootstrap.css')
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .nav.navbar-nav
                    a(href="/") Home


        .body-content(style="padding-top:55px")
            .container
                .row
                    .col-sm-8.hidden-xs
                        block content
                    .col-sm-4
                        .panel.panel-default
                            .panel-heading
                                .panel-title Categories
                            .panel-body
                                .form-input
                                    select.form-control
                                        each cat in getCategories()
                                            option #[a(href=categoryURL(cat)) #{cat}]
                        .panel.panel-default
                            .panel-heading
                                .panel-title Tags
                            .panel-body
                                ul.nav.nav-list
                                    li.nav-header
                                    each tag in getTags()
                                        li
                                            a(href=tagURL(tag)) #{tag}
